
.icon-signal:before { content: '\e802'; } /* '' */
.icon-headphones:before { content: '\e803'; } /* '' */
.icon-phone:before { content: '\e804'; } /* '' */
.icon-battery-3:before { content: '\f241'; } /* '' */
.icon-bluetooth-b:before { content: '\f294'; } /* '' */