
.icon-search:before { content: '\e800'; } /* '' */
.icon-location:before { content: '\e801'; } /* '' */
.icon-signal:before { content: '\e802'; } /* '' */
.icon-headphones:before { content: '\e803'; } /* '' */
.icon-videocam:before { content: '\e80e'; } /* '' */
.icon-picture:before { content: '\e80f'; } /* '' */
.icon-home:before { content: '\e811'; } /* '' */
.icon-user:before { content: '\e812'; } /* '' */
.icon-group:before { content: '\e813'; } /* '' */
.icon-menu:before { content: '\f008'; } /* '' */
.icon-bell-alt:before { content: '\f0f3'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-wifi:before { content: '\f1eb'; } /* '' */
.icon-battery-2:before { content: '\f242'; } /* '' */
.icon-bluetooth-b:before { content: '\f294'; } /* '' */
.icon-comment:before { content: '\f4ac'; } /* '' */