
.icon-signal:before { content: '\e800'; } /* '' */
.icon-search:before { content: '\f001'; } /* '' */
.icon-comment:before { content: '\f002'; } /* '' */
.icon-videocam:before { content: '\f003'; } /* '' */
.icon-picture:before { content: '\f004'; } /* '' */
.icon-location:before { content: '\f005'; } /* '' */
.icon-home:before { content: '\f006'; } /* '' */
.icon-youtube-play:before { content: '\f007'; } /* '' */
.icon-user:before { content: '\f008'; } /* '' */
.icon-group:before { content: '\f009'; } /* '' */
.icon-bell:before { content: '\f010'; } /* '' */
.icon-menu:before { content: '\f011'; } /* '' */
.icon-wifi:before { content: '\f1eb'; } /* '' */
.icon-battery-0:before { content: '\f244'; } /* '' */