
.icon-search:before { content: '\e800'; } /* '' */
.icon-signal:before { content: '\e802'; } /* '' */
.icon-headphones:before { content: '\e803'; } /* '' */
.icon-videocam:before { content: '\e80e'; } /* '' */
.icon-wifi:before { content: '\f1eb'; } /* '' */
.icon-battery-3:before { content: '\f241'; } /* '' */
.icon-bluetooth-b:before { content: '\f294'; } /* '' */