
.icon-signal:before { content: '\e802'; } /* '' */
.icon-headphones:before { content: '\e803'; } /* '' */
.icon-phone:before { content: '\e804'; } /* '' */
.icon-target-1:before { content: '\e806'; } /* '' */
.icon-camera:before { content: '\e807'; } /* '' */
.icon-note:before { content: '\e808'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-delicious:before { content: '\f1a5'; } /* '' */
.icon-battery-4:before { content: '\f240'; } /* '' */
.icon-bluetooth-b:before { content: '\f294'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */
.icon-comment:before { content: '\f4ac'; } /* '' */