
.icon-calculator:before { content: '\e800'; } /* '' */
.icon-hammer:before { content: '\e801'; } /* '' */
.icon-signal:before { content: '\e802'; } /* '' */
.icon-headphones:before { content: '\e803'; } /* '' */
.icon-phone:before { content: '\e804'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-battery-4:before { content: '\f240'; } /* '' */
.icon-bluetooth-b:before { content: '\f294'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */
.icon-comment:before { content: '\f4ac'; } /* '' */