
.icon-signal:before { content: '\e802'; } /* '' */
.icon-headphones:before { content: '\e803'; } /* '' */
.icon-battery-4:before { content: '\f240'; } /* '' */
.icon-bluetooth-b:before { content: '\f294'; } /* '' */