
.icon-signal:before { content: '\e802'; } /* '' */
.icon-comment-1:before { content: '\e80a'; } /* '' */
.icon-flashlight:before { content: '\e80b'; } /* '' */
.icon-camera-1:before { content: '\e80c'; } /* '' */
.icon-lock-open-alt:before { content: '\f13e'; } /* '' */
.icon-wifi:before { content: '\f1eb'; } /* '' */
.icon-battery-4:before { content: '\f240'; } /* '' */